* {
  margin: 0;
  box-sizing: border-box;
}
.website_layout {
  background-color: bisque;
  height: 100vh;
  display: grid;
  grid-template-columns: 200px 1fr 1fr 1fr;
  grid-template-rows: 100px 1fr 1fr 1fr;
}
@media only screen and (min-width: 200px) and (max-width: 768px) {
  .website_layout {
    background-color: bisque;
    height: 100vh;
    display: grid;
    grid-template-columns: 50px 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr 1fr 1fr;
  }
  .container {
    background-color: pink;
    grid-column: 2 / span 4;
    grid-row: 2 / span 4;
    display: flex;
    flex-direction: column;
    padding: 50px;
    overflow: scroll;
  }
  .box1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-bottom: 0.1rem;
  }
  .box11 {
    background-color: yellow;
    width: 100%;

    background-image: url("/public/images/ads.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: right;
    background-size: 40% 100%;
  }
  .box12 {
    background-color: yellow;
    width: 100%;

    background-image: url("/public/images/ActiveSensores.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: right;
    background-size: 40% 100%;
  }
  .box2 {
    width: 100%;

    margin-bottom: 0.1rem;
  }
  .box22 {
    background-color: aquamarine;
    width: 100%;

    background-image: url("/public/images/ActiveSensores.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: right;
    background-size: 40% 100%;
  }
  .box3 {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .box31 {
    background-color: chocolate;
    width: 100%;

    background-image: url("/public/images/PipeLine.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position: center;
    background-position-x: right;
    background-size: 40% 100%;
  }
  .box32 {
    background-color: coral;
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1244px) {
  .website_layout {
    background-color: bisque;
    height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr 1fr;
  }
  .container {
    background-color: pink;
    grid-column: 2 / span 4;
    grid-row: 2 / span 4;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;
    overflow: scroll;
  }
  .box1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  .box11 {
    background-color: yellow;
    width: 40%;
    height: 10rem;
    background-image: url("/public/images/ads.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: right;
    background-size: 60% 100%;
  }
  .box12 {
    background-color: yellow;
    width: 40%;
    height: 10rem;
    background-image: url("/public/images/ActiveSensores.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: right;
    background-size: 60% 100%;
  }
  .box2 {
    width: 100%;

    margin-bottom: 1rem;
  }
  .box22 {
    background-color: aquamarine;
    width: 100%;
    height: 10rem;
    background-image: url("/public/images/ActiveSensores.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: right;
    background-size: 40% 100%;
  }
  .box3 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
  .box31 {
    background-color: chocolate;
    width: 40%;
    height: 10rem;
    background-image: url("/public/images/PipeLine.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position: center;
    background-position-x: right;
    background-size: 40% 100%;
  }
  .box32 {
    background-color: coral;
    width: 40%;
    height: 10rem;
  }
}
.navbar {
  background-color: aqua;
  grid-column: 1 / span 4;
  grid-row-start: 1;
  background-image: url("/public/images/logo.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: left;
}
.sidebar {
  background-color: blue;
  grid-column-start: 1;
  grid-row: 2 / span 4;
}
.container {
  background-color: pink;
  grid-column: 2 / span 4;
  grid-row: 2 / span 4;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;
  overflow: scroll;
}
.box1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.box11 {
  background-color: yellow;
  width: 40%;
  height: 10rem;
  background-image: url("/public/images/ads.png");
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: right;
  background-size: 60% 100%;
}
.box12 {
  background-color: yellow;
  width: 40%;
  height: 10rem;
  background-image: url("/public/images/ActiveSensores.png");
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: right;
  background-size: 60% 100%;
}
.box2 {
  width: 100%;

  margin-bottom: 1rem;
}
.box22 {
  background-color: aquamarine;
  width: 100%;
  height: 10rem;
  background-image: url("/public/images/ActiveSensores.png");
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: right;
  background-size: 40% 100%;
}
.box3 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.box31 {
  background-color: chocolate;
  width: 40%;
  height: 10rem;
  background-image: url("/public/images/PipeLine.png");
  background-repeat: no-repeat;
  background-position: center;
  background-position: center;
  background-position-x: right;
  background-size: 40% 100%;
}
.box32 {
  background-color: coral;
  width: 40%;
  height: 10rem;
}
